* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(24, 189, 235);
    padding: 20px;
    border-radius: 10px;

    color: white;


}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-wrapper label , .result-wrapper label{
    font-size: 20px;
}

button{
    padding: 12px 20px;
    border: none;
    background-color: rgb(176, 233, 18);
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 2px;
    color: black;
}