*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7cf9e5;
}

.section{
    min-height: 100vh;
    padding-top: 20px;
}

.container{
    max-width: 90%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem; 
}

h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: rgb(53, 63, 2);
    text-align: center;
}

.accordion{
    max-width: 700px;
    margin: auto;
}

.accordion_item{
    border :1px solid rgb(1, 41, 44);
    padding: 20px;
}

.accordion_title{
    display: flex;
    align-items: center;
    /* justify-items: baseline; */
    gap: 10px;
    padding-bottom: 30px;
}

.accordion_title h3{
    flex:1;
    font-size: 25px;
}

.accordion_title i{
    font-size: 30px;
    cursor: pointer;
}

.accordion_content{
    display: none;
}

.accordion_title.active +.accordion_content{
    display: block;
}

.accordion_content p{
    font-size: 20px;
    color: black;
}

.accordion_title.active i{
    transform: rotate(180deg);
}

.accordion_content {
  padding-top: 10px;  
}