/* body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: black;
    color: white;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}



:root {
    --bg-color: black;
    --text-color: white;
    ---btn-bg-color: white;
    --btn-text-color: black;
}

[data-theme="dark"] {
    --bg-color: white;
    --text-color: black;
    ---btn-bg-color: black;
    --btn-text-color: white;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


.container .change-theme-btn {
    background-color: var(---btn-bg-color);
    color: var(--btn-text-color);

    padding: 12px 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}






/* body.light {
    background-color: rgb(223, 10, 216);
    color: black;
}

body.dark{
    background-color: blue;
    color: white;
} */

/* .container h1{
    color: white;
} */

/* .container button{
    padding: 12px 20px ;
    border: none;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
    color: white;
}  */